@import 'tailwindcss';

@theme {
    --color-white: #FFFFFF;
    --color-blue: #00A1FF;
    --color-grayText: #909090;
    --color-grayBorder: #A4A8B2;
    --color-lightGray: #F5F7F7;
    --color-lightBlueGray: #D8DCE6;
    --color-veryLightGray: #EEEEEE;
    --color-darkGray: #090E1D;
    --color-grayBg: #F2F3F7;
    --color-primary: #397FFF;
    --color-lightPrimary: #EAF8FF;

}