@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-blue: #00a1ff;
  --color-redText: #ff2c3d;
  --color-grayText: #909090;
  --color-grayBorder: #f5f5f5;
  --color-areaBorder: #a4a8b2;
  --color-lightGray: #f5f7f7;
  --color-lightBlueGray: #d8dce6;
  --color-lightGrayBlue: #eaedf5;
  --color-veryLightGray: #eeeeee;
  --color-snowGray: #f2f3f7;
  --color-darkGray: #090e1d;
  --color-grayBg: #f2f3f7;
  --color-primary: #397fff;
  --color-lightPrimary: #eaf8ff;
  --color-error: #ff2c3d;
  --color-blue: #397fff;
  --color-stone: #545966;
  --color-lightGreen: #80ca14;
  --color-gray: #bcc0cc;
  --text-15: 15px;
}
